<template>
  <div id="app">
    <chart-component></chart-component>
  </div>
</template>

<script>

import ChartComponent from "./components/ui/ChartComponent";

export default {

  name: 'App',
  components: {
    ChartComponent
  }
}
</script>

<style>

  html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #e9e9e9;
  height: 100%;
  width: 100%;
}
</style>
