<template>
    <div>
        <div class="chart-component-container">
            <h3>NASDAQ: AAPL</h3>
            <p>Please select a range</p>
            <div class="date-picker-container">
                <v-date-picker
                        class="date-picker"
                        mode='range'
                        v-model='range'>
                </v-date-picker>
            </div>
            <a @click.prevent="getData" class="button" href="">Update chart</a>
            <div class="chart-container">
                <apexchart class="chart" type="area" height="400" :options="chartOptions" :series="apiSeries"></apexchart>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "ChartComponent",

        mounted() {
            this.getData();
        },

        data: function() {
            return {
                apiSeries: [{
                    name: "",
                    data: []
                }],
                range: {
                    start: new Date(2018, 0, 16),
                    end: new Date(2018, 0, 19)
                },
                chartOptions: {
                    chart: {
                        type: 'area',
                        stacked: false,
                        height: 350,
                        zoom: {
                            type: 'x',
                            enabled: true,
                            autoScaleYaxis: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    markers: {
                        size: 0,
                    },
                    title: {
                        text: 'Historical prices',
                        align: 'left'
                    },
                    colors: ['#2aeb71'],
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shadeIntensity: 1,
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 90, 100]
                        },
                    },
                    yaxis: {
                        title: {
                            text: 'Price'
                        },
                    },
                    xaxis: {
                        type: 'datetime',
                        labels: {
                            show: true,
                            datetimeUTC: true,
                            datetimeFormatter: {
                                year: 'yyyy',
                                month: 'MM \'yy',
                                day: 'dd MMM',
                                hour: 'HH:mm'
                            }
                        }
                    },
                    tooltip: {
                        shared: false,
                    }
                },
            }


        },

        methods: {
            getData() {
                let symbol = "AAPL";
                let from = this.range.start.toISOString().split('T')[0];
                let to = this.range.end.toISOString().split('T')[0];
                this.axios.get(`https://financialmodelingprep.com/api/v3/historical-price-full/${symbol}?from=${from}&to=${to}&serietype=line`)
                    .then(res => {
                        this.apiSeries.symbol = res.data.symbol;
                        this.apiSeries.data = [];
                        let newData = [];

                            res.data.historical.forEach(item => {
                                newData.push([
                                    new Date(item.date).getTime(),
                                    item.close
                                ]);
                            });

                            this.apiSeries = [
                                {
                                    name: res.data.symbol,
                                    data: newData
                                }
                            ];

                    })
                    .catch(() => {
                        this.$toast.open({
                            message: "Invaild range",
                            type: 'error',
                            position: 'top'
                        });
                    });
            }
        }
    }
</script>

<style scoped>

    .chart-component-container {
        display: flex;
        flex-flow: column;
    }

    .chart-container {
        width: 600px;
        background: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    }

    .chart {
        width: 100%;
        z-index: 1;
    }

    .button {
        text-decoration: none;
        padding: 10px 40px;
        background: #2aeb71;
        color: white;
        border-radius: 50px;
        margin: 10px 0px;
        width: 60%;
        font-size: 16px;
    }

    .date-picker-container {
        font-size: 16px;
        width: 60%;
        z-index: 5;
    }

    @media screen and (max-width: 660px) {
        .chart-container {
            width: 500px;
        }
    }

    @media screen and (max-width: 560px) {
        .chart-container {
            width: 400px;
        }
    }

    @media screen and (max-width: 460px) {
        .chart-container {
            width: 350px;
        }
    }

    @media screen and (max-width: 360px) {
        .chart-container {
            width: 300px;
        }
    }

</style>